.venv/
__pycache__/

# Datasets (raw/processed - regenerate if needed)
dataset/
my_dataset/


# Collected driving data
data/collected_driving/

# Visualizations
*.png
*.jpg
*.mp4
#esp32_code 
scripts/esp32_firmware